
<div ng-controller="BudgetItemController">
    <script type="text/ng-template" id="/Angular/dashboard/views/CreateBudgetItemIncomeModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create Income Budget Item</h3>
        </div>
        <div class="modal-body">
            <div class="ui form segment">
                {{errormessage}}


                <div class="field">
                    <div class="col-sm-3 animated fadeIn">
                        <select ng-model="selectedCategory" ng-options="category as category.Name for category in categories.$$state.value.data" class="form-control"></select>
                    </div>
                </div>
                <div class="field">
                    <label for="category">category</label>
                    <input id="category" ng-model="budgetitem.categoryname" ng-show="selectedCategory.Name=='Create New Category'">
                </div>
                <div class="field">
                    <label for="amount">amount</label>
                    <input id="amount" ng-model="budgetitem.Amount" required>
                </div>
                <div class="field">
                    <label for="amount">AnnualFrequency</label>
                    <input id="amount" ng-model="budgetitem.AnnualFrequency" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="ui blue button" ng-click="InsertBudgetItemAndCategory()" ng-show="selectedCategory.Name=='Create New Category'">Submit</button>
            <button class="ui blue button" ng-click="InsertBudgetItem()" ng-hide="selectedCategory.Name=='Create New Category'">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
